﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject SignInManager<ShopUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div id="btn-manage-cabimet"><a asp-controller="Manage" asp-action="Index" class="btn btn-success">Управление сайтом</a></div>

}
