﻿@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopAspCore.WEB</title>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collaps">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo/logoYug7.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="top-ul">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>@Localizer["На главную"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-info-sign"></span>@Localizer["О магазине"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-phone-alt"></span>@Localizer["Контакты"]</a></li>
</ul>
</div>
<div id="lang-main">
<ul>
<li>@await Html.PartialAsync("_SelectLanguagePartial")</li>
</ul>
</div>

@await Html.PartialAsync("_LeftPartialMenu")

</div>

</nav>
<div id="carousel" class="carousel slide">
<!--Индикаторы слайдов-->
<ol class="carousel-indicators">
<li class="active" data-target="#carousel" data-slide-to="0"></li>
<li data-target="#carousel" data-slide-to="1"></li>
<li data-target="#carousel" data-slide-to="2"></li>
</ol>
<!--Слайды-->
<div class="carousel-inner">

<div class="item active">
<img src="~/images/main_carousel/me.jpg" alt="">
<div class="carousel-caption">
<h3>@Localizer["Звони"] @Localizer["в"] @Localizer["любое"] @Localizer["время"]!</h3>
</div>
</div>
<div class="item">
<img src="~/images/main_carousel/Haz.png" alt="">
<div class="carousel-caption">
    <h3>@Localizer["Доставка"] @Localizer["из"] @Localizer["любой"] @Localizer["точки"] @Localizer["мира"]!</h3>
</div>
</div>
<div class="item">
<img src="~/images/main_carousel/Hands.png" alt="">
<div class="carousel-caption">
    <h3>@Localizer["Мы"] @Localizer["бережем"] @Localizer["своих"] @Localizer["клиентов"]!</h3>
</div>
</div>
</div>
<!--Стрелки переключения слайдов-->
<a href="#carousel" class="left carousel-control"
data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" />
</a>
<a href="#carousel" class="right carousel-control" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" />
</a>
</div>

<div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <div id = "footer-wrapper" class="container">
                <div class="row footer-row">
                    <div class="col-md-4 footer-col">
                        <div class="content-footer fish-footer">
                            <p>"7Yug" - новая модель организационной деятельности, которая требует определения и уточнения систем массового участия.С другой стороны новая модель организационной деятельности позволяет оценить значение новых предложений.Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции в значительной степени обуславливает создание новых предложений.Таким образом новая модель организационной деятельности способствует подготовки и реализации направлений прогрессивного развития.</p>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="content-footer rights">
                            <div id = "yug"><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> <img src="~/images/logo/logoYug7.png"/></a></div>

                                <div><p>&copy; 2018 - 7YuG.Все права защищены</p></div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="content-footer">
                            <p>@Localizer["Контакты"]:</p>
                            <p>+375(29)101-02-51</p>
                            <p>+375(25)101-02-51</p>
                            <p>+375(44)101-02-54</p>
                            <p>+375(28)101-02-54</p>
                        </div>
                    </div>
                </div>
            </div>
            <p>&copy; 2018 - 7YuG.Все права защищены</p>
        </footer>
    </div>

    <environment include = "Development" >
 @*<script src="~/lib/jquery/dist/jquery.js"></script>*@

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
<script src="~/js/HomeIndex/appendGoods.js"></script>
<script src="~/js/Account/in_basket.js"></script>
