﻿@inject SignInManager<ShopUser> SignInManager
@inject UserManager<ShopUser> UserManager

@inject IViewLocalizer Localizer
@if (SignInManager.IsSignedIn(User))
{
    //logTemp = "Logout";
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">    
    <ul class="top-menu-right">
        <li><a asp-area="" asp-controller="Account" asp-action="ShowBasket"><span class="glyphicon glyphicon-shopping-cart"></span><span class="val-basket"></span></a></li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Cabinet" title="Manage"><span class="glyphicon glyphicon-eye-open"></span>@Localizer["Кабинет"] @UserManager.GetUserName(User)</a>
        </li>
        <li>
            @*@Html.ActionLink("Logout", "Logout", "Account", new { type = "submit" })*@
            <a href="#" id="a-submit"><span class="glyphicon glyphicon-log-out"></span>@Localizer["Выход"]</a>
            @*<input type="submit" value="Logout" class="btn"/>*@
        </li>
    </ul>
    
</form>
}
else
{
    <ul class="top-menu-right">       
        <li><a asp-area="" asp-controller="Account" asp-action="ShowBasket"><span class="glyphicon glyphicon-shopping-cart"></span><span class="val-basket"></span></a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-eye-close"></span>@Localizer["Регистрация"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>@Localizer["Вход"]</a></li>       
    </ul>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Account/submit_form.js"></script>
<script src="~/js/HomeIndex/appendGoods.js"></script>
<script src="~/js/Account/in_basket.js"></script>
        @*<li><a asp-area="" asp-controller="Account" asp-action=@logTemp>@logTemp</a></li>*@


