﻿@model UserProfileDTO
<div class="container">
    <div id="header-item-goods" class="item-goods">
        <div>Информация о продавце</div>
    </div>
</div>
<div class="container">
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Фамилия</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.LastName</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Имя</div>
        <div class="col-md-10 col-md10-show-items-details col-seller">@Model.Firstname</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Логин</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Login</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Роль</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Role</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">E-mail</div>
        <div class="col-md-10 col-md10-show-items-details col-md-10-buyer">@Model.Email</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Телефон</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.PhoneNumber</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Адрес</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Address</div>
    </div>

</div>