﻿@model IEnumerable<UserProfileDTO>


<div class="container">
    <div id="header-item-goods" class="item-goods">
        <div class="col-md-6">
            <div class="choose-manage">
                <a asp-controller="Manage" asp-action="ListUsers" class="btn btn-info btn-choose-manage">Список клиентов</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="choose-manage">
                <a asp-controller="Manage" asp-action="ListGoods" class="btn btn-info btn-choose-manage">Список товаров</a>
            </div>
        </div>
    </div>
</div>
    

