﻿@model IndexGoodsViewModel
@addTagHelper *, ShopAspCore.WEB
<div class="row-goos">
    <div class="container">
        <div id="header-item-goods" class="item-goods">
            <div>Полный перечень</div>
        </div>
    </div>
    <div class="container">
        <div class="row item-goods cabinet-header">
            <div class="col-md-1 commit-purchase">№</div>
            <div class="col-md-1 commit-purchase">Дата прихода</div>
            <div class="col-md-2 commit-purchase">Наименование</div>
            <div class="col-md-3 commit-purchase">Код</div>
            <div class="col-md-1 commit-purchase">Цена</div>            
            <div class="col-md-1 commit-purchase">Продано</div>
            <div class="col-md-1 commit-purchase">В корзине</div>
            <div class="col-md-2 commit-purchase">Инфо</div>
        </div>
        @{ int i = 0;}
        @foreach (var good in Model.Goods)
        {
            i++;
        <div class="row item-goods cabinet-goods">
            <div class="col-md-1 commit-purchase">@i</div>
            <div class="col-md-1 commit-purchase">@good.ReceiptDate</div>
            <div class="col-md-2 commit-purchase">@good.Name</div>
            <div class="col-md-3 commit-purchase">@good.Code</div>
            <div class="col-md-1 commit-purchase">@good.Price</div>
            @if (good.SoldOut == true && good.DateOfSale != null)
            {
                <div class="col-md-1 commit-purchase"><span class="">ок</span></div>
                <div class="col-md-1 commit-purchase"></div>
            }
            else if (good.SoldOut == true && good.DateOfSale == null)
            {
                <div class="col-md-1 commit-purchase"></div>
                <div class="col-md-1 commit-purchase"><span class="">ок</span></div>
            }
            else
            {
                <div class="col-md-1 commit-purchase"></div>
                <div class="col-md-1 commit-purchase"></div>
            }
            <div class="col-md-2 commit-purchase"><a asp-controller="Manage" asp-action="ShowItemDetails" asp-route-id="@good.Id" class="btn btn-info btn-warning-users">Подробнее</a></div>
        </div>

        }
    </div>
</div>

<div class="pager">
    <page-link page-model="Model.PageViewModel" page-action="ListGoods"></page-link>
</div>