﻿@model IndexUsersViewModel
@addTagHelper *, ShopAspCore.WEB

<div class="row-goos">
    <div class="container">
        <div id="header-item-goods" class="item-goods">
            <div>Список зарегистрированных пользователей</div>
        </div>
    </div>
    <div class="container">
        <div class="row item-goods cabinet-header">
            <div class="col-md-1 commit-purchase">Логин</div>
            <div class="col-md-1 commit-purchase">Фамилия</div>
            <div class="col-md-1 commit-purchase">Имя</div>
            <div class="col-md-2 commit-purchase">Адрес</div>
            <div class="col-md-2 commit-purchase">Email</div>
            <div class="col-md-2 commit-purchase">Телефон</div>
            <div class="col-md-1 commit-purchase">Роль</div>
            <div class="col-md-2 commit-purchase">Инфо</div>
        </div>       
        @foreach (var user in Model.Users)
        {            
            <div class="row item-goods cabinet-goods">            
                <div class="col-md-1 commit-purchase">@user.Login</div>
                <div class="col-md-1 commit-purchase">@user.LastName</div>
                <div class="col-md-1 commit-purchase">@user.Firstname</div>
                <div class="col-md-2 commit-purchase">@user.Address</div>
                <div class="col-md-2 commit-purchase">@user.Email</div>
                <div class="col-md-2 commit-purchase">@user.PhoneNumber</div>
                <div class="col-md-1 commit-purchase">@user.Role</div>
                <div class="col-md-2 commit-purchase"><a asp-area="" asp-controller="Manage" asp-action="GetCustomerData" asp-route-idUser="@user.Id" class="btn btn-warning btn-warning-users">Редактировать</a></div>
            </div>
        }
    </div>
</div>
<div class="pager">
    <page-link page-model="Model.PageViewModel" page-action="ListUsers"></page-link>
</div>



