﻿@model GoodDTO 
@{string date = Model.DateOfSale == null ? "-" : Model.DateOfSale.ToString();}

<div class="container">
    <div id="header-item-goods" class="item-goods">
        <div>Дополнительная информация о товаре</div>
    </div>
</div>
<div class="container">
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Дата поступления</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.ReceiptDate</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Продавец</div>
        <div class="col-md-10 col-md10-show-items-details col-seller" data-id="@Model.UserId"><a asp-controller="Manage" asp-action="GetCustomerData" asp-route-idUser="@Model.UserId" id="a-seller" class="btn-link"></a></div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Дата продажи</div>
        <div class="col-md-10 col-md10-show-items-details">@date</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Покупатель</div>
        <div class="col-md-10 col-md10-show-items-details col-md-10-buyer" data-id="@Model.BasketId"><a asp-controller="Manage" asp-action="GetCustomerDataByBasketId" asp-route-BasketId="@Model.BasketId" id="a-buyer" class="btn-link"></a></div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Наименование</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Name</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Категория</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Category.Name</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Брэнд</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Brand.Name</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Код товара</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Code</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Цена</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Price</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Описание</div>
        <div class="col-md-10 col-md10-show-items-details">@Model.Description</div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Изображение</div>
        <div class="col-md-10 col-md10-show-items-details"><img src="@Model.ImageB" /></div>
    </div>
    <div class="row row-show-items-details">
        <div class="col-md-2 col-md-2-show-items-details">Статус</div>
        <div class="col-md-10 col-md10-show-items-details col-md-10-status" data-id="@Model.Id"></div>
    </div>
    
</div>
<script src="~/js/Manage/get_seller.js"></script>

