﻿@inject IViewLocalizer Localizer
@model IEnumerable<CategoryDTO>

@{
    ViewData["Title"] = "Home Page";
}

<section class="tabs_s">
    <div class="container">
        <div class="row row-all-menu-index">
            <div class="col-sm-3">
                <div class="left-side">
                    <div id="accordion" class="panel-group">
                        <div class="panel panel-success">
                            <div class="panel-heading ph">
                                <div class="panel-title">
                                    <a id="a-all-categ" href="collapse-all-brands" data-toggle="collapse" data-parent="#accordion">
                                        <div id="all-categ" class="divCat">
                                            <span class="glyphicon glyphicon-menu-right">
                                            </span> @Localizer["Все категории"]
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapse-all-brands" class="panel-collapse collapse"></div>
                            @foreach (var category in Model)
                            {
                                <div class="panel-heading ph">
                                    <div class="panel-title">
                                        @{
                                            int id = category.Id;
                                        }
                                        <a href="#collapse-@category.Id" data-parent="#accordion" class="a-categ" data-toggle="collapse"><div class="divCat" data-content="@category.Id"><span class="glyphicon glyphicon-menu-right"></span>@Localizer[@category.Name]</div></a>
                                    </div>
                                </div>
                                <div id="collapse-@category.Id" class="panel-collapse collapse">
                                    @foreach (var xx in category.CategoryBrands)
                                    {
                                        <div class="panel-body">
                                            <a class="list-group-item" href="#carousel" data-idCateg="@xx.CategoryId" data-idBrand="@xx.BrandId">@xx.Brand.Name</a>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-goods">
                <div id="right" class="right-side"></div>
                <div class="col-sm-12 ">
                    <div id="div-wrap-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<script>$.getScript('~/js/HomeIndex/appendGoods.js')</script>*@
<script  src="~/js/HomeIndex/appendGoods.js"></script>
<script src="~/js/mainIndexGoods.js"></script>
<script src="~/js/HomeIndex/OnClickAllCategories.js"></script>
<script src="~/js/HomeIndex/OnClickCategory.js"></script>
<script src="~/js/add_gliph_right.js"></script>
<script src="~/js/HomeIndex/OnClickBrand.js"></script>
<script src="~/js/HomeIndex/OnClickBuy.js"></script>
<script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
