﻿html {
    overflow-y: scroll;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*.navbar-fixed-top{
    z-index:10;
}*/ 
a, a:hover, a:visited, a:after {
    text-decoration: none !important;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.carousel-inner {
    box-shadow: 4px 4px 20px 0 #444444;
    /*z-index:11;
    top:-4px;*/   
    
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

a.list-group-item:hover{
    color:red;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0 solid #ddd;
}
.panel-success > .panel-heading {
    margin: 6px;
    border: 2px groove #000;
    border-radius: 20px;
    /*background-color: #9CB9D1;*/
    /*градиент*/
    background: #e51d16; /* для старых браузеров */
    background: -moz-linear-gradient(top, #e51d16 0%, #b21203 100%); /* для FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#222222)); /* для Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #999999 0%,#222222 100%); /* для Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e51d16 0%,#b21203 100%); /* для Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #e51d16 0%,#b21203 100%);*/ /* для IE10+ */
    background: linear-gradient(top, #e51d16 0%,#b21203 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51d16', endColorstr='#b21203',GradientType=0 ); /* IE6-9 */
    /*color: #2E4DA7;*/
    color: white;
    box-shadow: 4px 4px 20px 0 #444444;
}

.panel-body {
    padding: 3px;   
    
}   
 .panel {
        border: 0 solid transparent;
    }
.carousel {
    width: 1170px;
    margin: 0 auto;
}

.tabs_s{
    width:1170px;
    margin:10px auto;
}
.line-r {
    width: 1170px;
    height: 10px;
    background-color: red;
    margin: 0 0 0 -14px;
    box-shadow: 4px 4px 20px 0 #444444;
}
.line-y {
    height: 5px;
    width: 1170px;
    background-color: #000;
    margin: 0 0 0 -14px;
    box-shadow: 4px 4px 20px 0 #444444;
}

.row-all-menu-index {
    margin-left: -45px;
}

.glyphicon.glyphicon-menu-right, .glyphicon.glyphicon-menu-down, .glyphicon.glyphicon-refresh {
    font-size: 10px;
    margin-right: 5px;
}
.glyphicon.glyphicon-briefcase, .glyphicon-home,
.glyphicon-info-sign, .glyphicon-phone-alt, .glyphicon-log-in,
.glyphicon-log-out, .glyphicon-eye-open, .glyphicon-eye-close {
    font-size: 14px;
    margin-right: 5px;
}
/*.glyphicon-home {
    font-size: 14px;
    margin-right: 5px;
}*/
#right {
    height: inherit;
    /*border: 1px solid green;*/
}


#div-wrap-pagination {
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid #76F082;*/
    width: 240px;
    height: 35px;
    margin: 10px auto;
    /*color: white;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15pt;
    font-weight:bold;
}
.all {
    height: 320px;
    border: 6px ridge #E4E4E4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
}

.pagin, .paginCateg, .paginBrand, .pagin_goods, .pagin_purchase {
    margin: auto;   
    width: 70px;
    height: inherit;
    border: 2px groove #444;
    text-align: center;
    line-height: 35px;
    color: #444;
}

#div-curr {
    margin:auto;
    background-color: #777;
    width: 70px;
    height: inherit;
    border: 2px groove #000;
    text-align: center;
    line-height: 35px;
    color:white;

}
#div-prev {
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
}
#div-next {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#div-prev,
#div-next {
    cursor: pointer;
}
/*---------------Верхнее меню с анимацией начало---------------------*/
#lang-main {
    position: absolute;
    top: 30%;
    right: 40%;    
}
    #lang-main > ul > li select{
        font-size: 10pt;
        text-decoration: none;
        text-transform: uppercase;
    }
.lang-name {
    color: #aaa;
}
.top-menu-right {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(-100%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
    .top-ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        margin: 0 0 0 10px;
        padding: 0;
        display: flex;
    }
    .top-menu-right, .top-ul li {
        list-style: none;
    }
        .top-menu-right li a, .top-ul li a {
            position: relative;
            display: block;
            margin: 0 10px;
            padding: 5px 5px;
            color: #aaa;
            font-size: 10pt;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            overflow: hidden;
        }

            .top-menu-right li a::before, .top-ul li a::before {
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                left: -100%;
                width: 100%;
                height: 4px;
                background: #fff;
                transition: 0.5s;
            }
            .top-menu-right li a:hover, .top-ul li a:hover {
                color: #000;
            }

                .top-menu-right li a:hover::before, .top-ul li a:hover::before {
                    animation: animate .5s linear forwards;
                }

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 2px;
        z-index: 1;
    }

    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 2px;
        z-index: 1;
    }

    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

/*-----------Верхнее меню с анимацией КОНЕЦ--------------------*/

.item-goods {
    display:flex;
    border: 0 solid black;
    border-radius:8px;
    margin:5px 0 8px 0;
    box-shadow:4px 4px 20px 0 #444444;
    padding:0;
    height:140px;
}
.row-goods {
    padding: 0;
}
.img{
    text-align:center;
}
.charact{    
    margin:auto;
    border:0 solid blue;
    padding:0;
    
}
.col-goods{
    height:600px;
}
.col-md-offset-2{
    margin-left:0;
}
.top-name {
    font-size: 15pt;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-left: 0;
}
.bottom-descr {
    font-size: 9pt;
    font-style: italic;
    margin-bottom: 5px;
    padding-left:0;
}
.middle-code {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 5px;
    color: #DC7E1A;
    padding-left: 0;
}
.price, .buy{
    text-align:center;
}
.price{
    font-size:15pt;
    margin-bottom:5px;
}
.glyphicon-shopping-cart{
    margin-right:5px;
}

.btn {
    font-size: 16pt;
}
.btn-warning{
    font-size:12pt;
    margin-top:6px;
}
#header-item-goods>div {
    font-size: 30pt;  
    font-weight: bolder;
    margin:auto;
}
.purchase {
    border-left: 1px groove #777;
}

.cabinet-goods {
    height: 40px;
    text-align: center;
    /*line-height: 70px;*/
}
.cabinet-header {
    height: 50px;
    text-align: center;
    font-weight: bold;
   /*line-height:70px;*/
}
.commit-purchase{
    border-right:1px outset black;
}

#btn-manage-cabimet{
    text-align:center;
    margin-top:10px;
}
.btn-choose-manage {
    font-size: 25pt;
}
.choose-manage {
    text-align: center;    
}
.btn-warning-users{
    margin-top:2px;
    font-size:11pt;
}
ul.pagination{
    text-align:center;
}

.row-show-items-details {
    margin-top: 4px;
    margin-right: 0;
    margin-left: 0;
}
.col-md-2-show-items-details {
    font-size: 13pt;
    font-weight: bold;
}
.col-md10-show-items-details {
    font-size: 13pt;
    background-color: #FFF6ED;
}

footer {
    margin-top: 50px;
    width: 1170px;
}
#footer-wrapper {
    max-width: 100%;
    height: 240px;
    /*border: 0px solid red;*/
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    /*margin-top:10px;*/
}
.footer-row{
    display:flex;
    /*width:100%;*/
}
.footer-col {
    height: 220px;
    /*border: 0px solid black;*/
    
    margin-top:7px;
    padding-left:5px;
    padding-right:5px;
   
}
.content-footer {
    /*display: flex;*/
    border: 0 solid black;
    border-radius: 8px;   
    box-shadow: 4px 4px 20px 0 #444444; 
    padding: 0;   
    margin: 3px;
    height: 210px;
    color:black;
    text-align:center;
    font-size:16pt;
    
}
.rights>div{
    display:inline-block;
    margin-top:15px;
}
#yug{
    height:100px;
}
.fish-footer{
    padding:20px 10px 10px 10px ;
    text-align:left;
    font-size:9pt;
}
/*-------------------------вкладки в кабинете--------------------------------*/
.tabs-link a {
    background-color: #5CB85C;
    box-shadow: 2px 2px 1px 0 #444444;
    /* Цвет */
    padding: 10px 10px 5px 10px;
    /* Внутренние отступы */
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*normal 15pt "Trebuchet MS", tahoma, verdana, arial narrow, arial;*/
    /* Толщина, размер и семейство шрифта */
    color: white;
    /* Цвет */
    font-size: 15pt;
    text-decoration: none;
    /* Отсутствие нижней линии */
    /* Округление старт */
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* Округление конец */
}

    /*.tabs-link a:visited {
        color: #E6831C;
    }*/

    .tabs-link a:hover {
        color: #000000;
        /*background-color: #C1C1C1;*/
    }

.tabs-link {
    /*width: 954.54545455px;*/
    margin: 10px auto 0 auto;
}

 
