﻿    @{
        ViewData["Title"] = "Access Denied";
    }
    <div class="top-reg">
        <h1 class="text-danger">Access Denied.</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>

