﻿@inject SignInManager<ShopUser> SignInManager
@*model IEnumerable<GoodDTO>*@
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))

{    
<div class="row-goods">
    <div class="container">
        <div id="header-item-goods" class="item-goods">
            <div>Мой кабинет</div>
        </div>        
    </div>     
    <div id="id-container" class="container">
        <div class="tabs-link">
            <a class="my-purchases tabs" href="#tab1">@Localizer["Покупки"]</a>
            <a class="my-goods tabs" href="#tab2">@Localizer["Товары на продажу"]</a>
            <a class="add-goods tabs" href="#tab3">@Localizer["Добавить товар"]</a>
        </div>
        <div class="all">            
            <div class="my-all"></div>
            <div class="my-all-goods"></div>
        </div>
        
        <div class="col-sm-12">
            <div id="div-wrap-pagination"></div>
        </div>        
    </div>
</div>   

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @await Html.PartialAsync("_CabinetAdminPartial")
        </div>
    </div>
</div>

<script src="~/js/Account/Cabinet/extras.js"></script>
<script src="~/js/Account/Cabinet/add_header.js"></script>
<script src="~/js/Account/Cabinet/purchases.js"></script>
<script src="~/js/Account/Cabinet/selling.js"></script>
<script src="~/js/Account/Cabinet/add_good.js"></script>



