﻿@model GoodDTO
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>Оформление</div>
<div>@Model.Category.Name</div>
<div>@Model.Brand.Name</div>
<div>@Model.Price</div>
@*<div>Продавец: @Model.User.Firstname @Model.User.LastName</div>*@
@*<div>Телефон: @Model.User.ShopUser.PhoneNumber</div>*@
@*<div>Email: @Model.User.ShopUser.Email</div>*@
@*<div>Адрес: @Model.User.Address</div>*@
<div><a asp-controller="Account" asp-action="ShowBasket" class="btn btn-success">OK</a></div>