﻿@model IEnumerable<GoodDTO>

@{
    ViewData["Title"] = "Basket";
}
<div class="row-goos">
    
    <div id="header-item-goods" class="item-goods">
        <div>Моя корзина</div>
    </div>
    @foreach(var good in Model)
    {
        <div class="row item-goods">
            <div class="col-sm-3 charact img"><img src="@good.ImageB" /></div>
            <div class="col-md-offset-2 col-md-5 charact">
                <div class="col-md-12 top-name">@good.Name</div>
                <div class="col-md-12 middle-code">Код товара: @good.Code</div>
                <div class="col-md-12 bottom-descr">@good.Description</div>
        </div>
            <div class="col-md-offset-2 col-md-4 charact purchase">
                <div class="wrap-purchase col-md-12">@good.Price</div>
                <div class="buy col-md-12">
                    <a asp-controller="Account" asp-action="MakePurchase" asp-route-id="@good.Id"  class="btn btn-success btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span>Оформить</a>
                </div>
            <div class="buy col-md-12">
                    <a asp-controller="Account" asp-action="Refuse" asp-route-id="@good.Id" class="btn btn-warning btn-cancel"><span class=""></span>Отказаться</a>
            </div>
            </div>
    </div>

    }
</div>

